<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-sms-retriever"
	version="3.0.0">

	<name>SMS Retriever</name>
	<description>Cordova plugin to retrieve SMS in Android using the SMS Retriever API.</description>
	<author>Andres Zsogon</author>
	<license>MIT</license>
	<keywords>sms,retriever</keywords>

	<engines>
		<engine name="cordova" version=">=7.1.0"/>
		<engine name="cordova-android" version=">=6.3.0"/>
	</engines>

	<js-module src="www/SMSRetriever.js" name="SMSRetriever">
		<clobbers target="cordova.plugins.SMSRetriever" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<preference name="PLAY_SERVICES_AUTH_VERSION" default="20.5.0"/>
		<preference name="PLAY_SERVICES_AUTH_API_PHONE_VERSION" default="18.0.1"/>
		<framework src="com.google.android.gms:play-services-auth:$PLAY_SERVICES_AUTH_VERSION"/>
		<framework src="com.google.android.gms:play-services-auth-api-phone:$PLAY_SERVICES_AUTH_API_PHONE_VERSION"/>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SMSRetriever">
				<param name="android-package" value="com.andreszs.smsretriever.SMSRetriever"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="application">
			<receiver android:exported="true"
					  android:name="com.andreszs.smsretriever.SMSBroadcastReceiver"
					  android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
				<intent-filter>
					<action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
				</intent-filter>
			</receiver>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-feature android:name="android.hardware.telephony" android:required="false" />
		</config-file>

		<source-file src="src/android/SMSRetriever.java" target-dir="src/com/andreszs/smsretriever" />
		<source-file src="src/android/SMSBroadcastReceiver.java" target-dir="src/com/andreszs/smsretriever" />
		<source-file src="src/android/AppSignatureHashHelper.java" target-dir="src/com/andreszs/smsretriever" />
	</platform>

</plugin>
